**Libraries Used**
Tkinter & ttkbootstrap: For creating the user interface and adding themes.
speech_recognition: To capture and recognize speech from the microphone or audio files.
googletrans: For translating text into regional languages.
gTTS: For converting translated text into speech.
pygame: To play back the generated speech.
moviepy: To extract audio from video files and replace the original audio with translated audio.
pytube: For handling YouTube video downloads (future feature).
pydub: For additional audio file handling.
